body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #2e7d32; /* Verde oscuro para el texto */
}

.bg-dark-green {
  background-color: #2e7d32; /* Verde oscuro */
}

.text-dark-green {
  color: #2e7d32; /* Verde oscuro */
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 2rem;
  background-color: #f1f8e9; /* Un verde muy claro para el contenedor */
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto 3D */
}

.animated-btn {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}