/* Estilos personalizados */
.texto-verde-oscuro {
  color: #2e7d32;
}

.contenedor-tabla {
  background-color: #f1f8e9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-animado {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-animado:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón con contorno verde oscuro */
.btn-outline-success {
  color: #2e7d32 !important;
  border-color: #2e7d32 !important;
}

/* Estilo del botón al pasar el mouse (hover) */
.btn-outline-success:hover {
  background-color: #2e7d32 !important;
  color: white !important;
}